@font-face {
  font-family: Euclid;
  font-weight: 400;
  font-style: normal;
  src: url('../../static/fonts/EuclidCircularA-Regular.woff2') format('woff2');
  font-display: swap;
}
.clearFix {
  clear: both;
}
.no-100-pct{
  width:unset !important;
}